<!DOCTYPE html>
<html>
  <head>
    <title>StudentCatalog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "List of Students", students_path %></li>
        <li><%= link_to "Create a Student", new_student_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
